@import "tailwindcss";



*{
  font-family: "Archivo",sans-serif;
}

@keyframes marquee-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-right {
  animation: marquee-right 25s linear infinite;
}

.marquee-left {
  animation: marquee-left 25s linear infinite;
}

@keyframes testimonial-marquee-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes testimonial-marquee-left {
  0% {
    transform: translateX(-33.333%);
  }
  100% {
    transform: translateX(0);
  }
}

.testimonial-marquee-right {
  animation: testimonial-marquee-right 30s linear infinite;
}

.testimonial-marquee-left {
  animation: testimonial-marquee-left 30s linear infinite;
}

